header {
    text-align: center;
    border: 2px solid black;
}

#jumbotron-image-container { 
    background-image: url("../images/jumbotron-placeholder-image.png"); 
    height: 250px;
    border-top: 2px solid black;
}

#search-history-container {
    text-align: center;
    border-right: 2px solid black;
    height: 1000px;
    margin-top: 50px;
}

#current-search-container {
    text-align: center;
    height: 1000px;
    margin-top: 50px;
}

#risk-ratings {
    border: 2px solid black;
    margin-left: 500px;
    margin-right: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

.ratings-list {
    text-align: left;
}

#low {
    font-weight: bold;
    color: rgb(33, 160, 8);
}

#moderate {
    font-weight: bold;
    color: rgb(194, 191, 9);
}

#high {
    font-weight: bold;
    color: rgb(214, 118, 8);
}

#very-high {
    font-weight: bold;
    color: rgb(231, 12, 12);
}

footer {
    text-align: center;
    border: 2px solid black;
    margin-top: 50px;
}
/* testing merge */
/* testing merge again */
